include ../../lib/jade/_utils.jade
.main
  header(role="global header")
    include ./_header.jade
  section.content(role="section content")
    include ./_section.jade
  footer.meta(role="meta content")
    include ./_footer.jade
