#header 
  .nav
    ul.nav-global
      li.nav-global--menuItem menu
      li.nav-global--menuItem iPhone
      li.nav-global--menuItem Watch
      li.nav-global--menuItem iPad
    ul.nav-section
      li.nav-section--menuItem iPhone 6
      li.nav-section--menuItem iPhone Accessories
      li.nav-section--menuItem iOS 8
