//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts"; // for referencing Bootstrap CDN font files directly
@import "font-awesome/scss/font-awesome.scss";
@import "./custom_bootstrap";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

form {
    display: inline;
}

.view {
    border-bottom: 1px dashed black;
}
