div(layout="column" class="main")
  div(layout="column" class="header")
    div(ng-include layout="row" src="'app/main/toolbar.html'" class="toolbar")
    div(ui-view="main-tabs" layout="row" class="tabs")
  div(layout="row" class="workspace")
    div(ng-include src="'app/main/sidenav.html'" class="sidenav")
    div(ui-view="main-content" class="content")
  div(ng-include src="'app/main/footer.html'" layout="row" class="footer")
