div(layout="column" class="main container")
  div(layout="row" class="main toolbar")
    div(ng-include src="'app/main/toolbar.html'")
  div(layout="row" class="main workspace")
    div(class="main sidenav")
      div(ng-include src="'app/main/sidenav.html'")
    div(ui-view="main-content" class="main content")
  div(layout="row" class="main footer")
    div(ng-include src="'app/main/footer.html'")
